# Avoid editor settings
.vscode/
.idea/
.vs/

# Avoid docker folder with samples of other docker files
docker/

# Avoid documentation
DOCS/

#
target/

#
.env
.env_variables

#
.dockerignore
docker-compose.yaml
docker-compose.override.yaml
docker-compose.override.yml
Dockerfile

#
.git/
.gitgionre

#
LICENSE
README.md


